.projects {
    margin-top:25vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    padding: 2rem;
}


@media screen and (min-width: 768px) {
    .projects {
        margin-top: 20vh;
    }
}