.page {
  margin-top: 25vh;
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.sideBar{
    display: none;
}
.main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

@media (min-width: 768px) {
    .sideBar{
        display: block;
        margin-left: 2rem;
        width: 64px;
    }
}