.tag{
    display: flex;
    width: 55%;
    min-height: 32px;
    border: 2px solid white;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 8px;
    background-color: var(--color-title);
    font-weight: bold;
    color: var(--color-foreground);
}

.tag:hover{
    background-color: var(--color-hover);
    transform: scale(1.1);
}

