.tag{
    display: flex;
    min-height: 12px;
    border: 1px solid #f6f5f5;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 4px;
    background-color: var(--color-title);
    font-weight: bold;
    color: var(--color-foreground);
}

.tag:hover{
    background-color: var(--color-hover);
    transform: scale(1.1);
}

